<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guotie.mdc.sys.bubase.mapper.BaseDicMapper">
<!--当前表名：base_dic-->
    <!--#{模板引擎不会再这个标签包裹的字符中寻找FTL标签-->
<select id="selectByConditions" parameterType="java.util.Map" resultType="com.guotie.mdc.sys.bubase.entity.BaseDic">
select * from base_dic
 <where>
        <if test="dicId != null and dicId != ''"> and dic_id=#{dicId}</if>
        <if test="dicName != null and dicName != ''"> and dic_name=#{dicName}</if>
        <if test="category != null and category != ''"> and category=#{category}</if>
        <if test="parentId != null and parentId != ''"> and parent_id=#{parentId}</if>
        <if test="dicDesc != null and dicDesc != ''"> and dic_desc=#{dicDesc}</if>
</where>
    <choose>
        <when test="sidx != null and sidx.trim() != ''">
            order by  ${sidx}  ${order}
        </when>
        <otherwise>
            <!--order by id desc-->
        </otherwise>
    </choose>
<bind name="key_offset" value="(currentPage-1)*pageSize"></bind>
      <if test="currentPage != '' and  pageSize != ''">
       limit #{key_offset},#{pageSize}
      </if>

</select>
</mapper>