<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guotie.mdc.sys.bubase.mapper.DataPermissionMapper">
<!--当前表名：data_permission-->
    <!--#{模板引擎不会再这个标签包裹的字符中寻找FTL标签-->
<select id="selectByConditions" parameterType="java.util.Map" resultType="com.guotie.mdc.sys.bubase.entity.DataPermission">
select * from data_permission
 <where>
        <if test="id != null and id != ''"> and id=#{id}</if>
        <if test="name != null and name != ''"> and name=#{name}</if>
        <if test="lineId != null and lineId != ''"> and line_id=#{lineId}</if>
        <if test="deptId != null and deptId != ''"> and dept_id=#{deptId}</if>
        <if test="logId != null and logId != ''"> and log_id=#{logId}</if>
        <if test="baseDicId != null and baseDicId != ''"> and base_dic_id=#{baseDicId}</if>
</where>
    <choose>
        <when test="sidx != null and sidx.trim() != ''">
            order by  ${sidx}  ${order}
        </when>
        <otherwise>
            <!--order by id desc-->
        </otherwise>
    </choose>
<bind name="key_offset" value="(currentPage-1)*pageSize"></bind>
      <if test="currentPage != '' and  pageSize != ''">
       limit #{key_offset},#{pageSize}
      </if>

</select>
</mapper>