<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guotie.mdc.sys.bubase.mapper.EmployeeMapper">
<!--当前表名：employee-->
    <!--#{模板引擎不会再这个标签包裹的字符中寻找FTL标签-->
<select id="selectByConditions" parameterType="java.util.Map" resultType="com.guotie.mdc.sys.bubase.entity.Employee">
select * from employee
 <where>
        <if test="id != null and id != ''"> and id=#{id}</if>
        <if test="name != null and name != ''"> and name=#{name}</if>
        <if test="age != null and age != ''"> and age=#{age}</if>
</where>
<bind name="key_offset" value="(currentPage-1)*pageSize"></bind>
      <if test="currentPage != '' and  pageSize != ''">
       limit #{key_offset},#{pageSize}
      </if>

</select>
</mapper>